---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

let session = false;

interface UserData {
  user: {
    user_metadata: {
      avatar_url: string;
      full_name: string;
    };
    identities: [{}];
  };
}

let data: UserData = {
  user: {
    user_metadata: {
      avatar_url: "",
      full_name: "",
    },
    identities: [{}],
  },
};

if (!accessToken || !refreshToken) {
  session = false;
} else {
  const { data: userData, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (error) {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });
  } else {
    data = userData as UserData;
    session = true;
  }
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Playground</a>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end mr-3">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <div class="indicator">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#ccc"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                ></path>
                <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
              </svg>
              <span class="badge badge-sm indicator-item">8</span>
            </div>
          </div>
          <div
            tabindex="0"
            class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-base-100 shadow"
          >
            <div class="card-body">
              <span class="font-bold text-lg">8 Notifications</span>
              <span class="text-info">Hello!</span>
              <div class="card-actions">
                <button class="btn btn-primary btn-block"
                  >View Notifications</button
                >
              </div>
            </div>
          </div>
        </div>
        {
          session ? (
            <div class="dropdown dropdown-end">
              <div
                tabindex="0"
                role="button"
                class="btn btn-ghost btn-circle avatar"
              >
                <div class="w-10 rounded-full">
                  <img
                    alt="Avatar profile"
                    src={data.user.user_metadata.avatar_url}
                  />
                </div>
              </div>
              <ul
                tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
              >
                <li>
                  <a href="/profile" class="justify-between">
                    Profile
                    <span class="badge">New</span>
                  </a>
                </li>
                <li>
                  <a>Settings</a>
                </li>
                <li>
                  <form action="/api/auth/signout">
                    <button type="submit">Logout</button>
                  </form>
                </li>
              </ul>
            </div>
          ) : (
            <form
              class="space-y-4 md:space-y-6"
              action="/api/auth/signin"
              method="post"
            >
              <button
                value="google"
                class="w-full btn btn-primary"
                name="provider"
                type="submit"
              >
                Log in with Google
              </button>
            </form>
          )
        }
      </div>
    </div>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    background-color: oklch(0.211484 0.01165 254.088);
  }
</style>
